<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <description></description>
    <display-name>ReadSongServlet</display-name>
    <servlet-name>ReadSongServlet</servlet-name>
    <servlet-class>com.song.servlets.ReadSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadSongServlet</servlet-name>
    <url-pattern>/ReadSongServlet</url-pattern>
  </servlet-mapping>
  <display-name>MusicTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchSongServlet</display-name>
    <servlet-name>SearchSongServlet</servlet-name>
    <servlet-class>com.song.servlets.SearchSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSongServlet</servlet-name>
    <url-pattern>/SearchSongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCommentServlet</display-name>
    <servlet-name>CreateCommentServlet</servlet-name>
    <servlet-class>com.song.servlets.CreateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCommentServlet</servlet-name>
    <url-pattern>/CreateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommentServlet</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>com.song.servlets.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommentServlet</display-name>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <servlet-class>com.song.servlets.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <url-pattern>/UpdateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeSongServlet</display-name>
    <servlet-name>HomeSongServlet</servlet-name>
    <servlet-class>com.song.servlets.HomeSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeSongServlet</servlet-name>
    <url-pattern>/HomeSongServlet</url-pattern>
  </servlet-mapping>
</web-app>